{{- if eq .chezmoi.os "windows" }}
["./AppData/Local/nvim"]
    type = "git-repo"
    url = "https://github.com/HeyItsGilbert/nvim"
[".glzr/zebar/quiet-velvet"]
    type = "git-repo"
    url = "https://github.com/HeyItsGilbert/quiet-velvet"
{{- else }}
[".config/nvim"]
    type = "git-repo"
    url = "https://github.com/HeyItsGilbert/nvim"
[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".tmux/plugins/tpm"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tpm"
    refreshPeriod = "168h"
{{- end }}
